<div class="module-fuckoff">
    <div class="container"> 
        <h1> {{ title }}</h1>
        <section *ngIf="selectedHero === null">
            <div class="row">
                <div class="col-xs-12" *ngFor="let hero of heroes">
                    <button class="btn btn-primary" (click)="selectHero(hero)"> 
                        {{ hero.name }}
                        <span class="badge">{{hero.id}}</span>
                    </button>
                    <br>
                    <br>
                    
                </div>
            </div>
        </section>

        <section *ngIf="selectedHero !== null">
           <hero-detail [hero]="selectedHero" (saveEditedHero)="saveHero()" (cancelHeroEdit)="cancelHeroEditation()"></hero-detail>
        </section>
    </div>
</div>