 <div class="row">
    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon">Name</span>
            <input type="text" class="form-control" [(ngModel)]="hero.name" placeholder="name">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">Id</span>
            <input type="number" class="form-control" [(ngModel)]="hero.id" placeholder="id">
        </div>
    </div>
    <hr>
    <div class="col-md-6">
        <button class="btn btn-primary pull-right" (click)="saveHero()"> Save hero </button>
        <button class="btn btn-default pull-left" (click)="cancelHeroEditation()"> Cancel </button>
    </div>
</div>