<h2> {{ title }}</h2>
<section>
    <div class="row">
        <div class="col-xs-12" *ngFor="let hero of heroes">
            <button class="btn" 
                    [ngClass]="{'btn-primary' : (hero.id > 10), 'btn-default' : (hero.id <= 10)}" 
                    [routerLink]="['/herodetail', hero.uid]"> 
                <span class="badge">n.{{hero.id}}</span>    
                <span [ngSwitch]="hero.vehicle">
                    <i *ngSwitchCase="'boat'" class="fa fa-rocket"></i>
                    <i *ngSwitchDefault class="fa fa-{{hero.vehicle}}"></i>
                </span>
                {{ hero.name }}
                
                <span *ngIf="hero.reward" class="badge">reward: {{hero.reward.value | currency: hero.reward.currency :true:'.1-2'}}</span>
            </button>
            <br>
            <br> 
        </div>
    </div>
</section>