.margin         { margin:           $margin; }
.margin-top     { margin-top:       $margin; }
.margin-bottom  { margin-bottom:    $margin; }
.margin-left    { margin-left:      $margin; }
.margin-rigth   { margin-right:     $margin; }