<div class="row">
    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon">Email</span>
            <input type="email" class="form-control" [(ngModel)]="user.email" placeholder="email">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">Password</span>
            <input type="password" class="form-control" [(ngModel)]="user.password" placeholder="password">
        </div>
        <br>
    </div>
    <hr>
    <div class="col-md-6">
        <button class="btn btn-primary pull-right" (click)="loginUser()" type="button"> Login </button>
    </div>
</div>
